@using BugTrackerDTOs
@model IEnumerable<ProjectDto>
@{
    ViewBag.Title = "Tasks";
}
<div class="container">
    <div class="panel panel-primary resp">
        <div class="panel-heading">
            <h3 class="panel-title">@ViewBag.Title</h3>
            <div class="pull-right">
                <span class="clickable filter" data-toggle="tooltip" title="Toggle table filter" data-container="body">
                    <i class="glyphicons glyphicon-user"></i>
                </span>
            </div>
        </div>
        <div class="panel-body">
            <div class="panel-filter">
                <input type="text" class="form-control" id="dev-table-filter" data-action="filter" data-filters="#dev-table" placeholder="Filter Bugs" />
            </div>
            <div id="BugsList">
                <table class="table table-responsive table-hover" id="dev-table">
                    <thead>
                        <tr>
                            <th>Project ID</th>
                            <th>Project Name</th>
                            <th>Manager Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                                    <tr>
                                    <td> @item.project_id </td>
                                    <td> @item.project_name </td>
                                    <td> @item.project_manager_name </td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
