
@{
    ViewBag.Title = "Track Bugs";
}
<script src="~/Scripts/togglesearch.js"></script>
<div class="container">
    <div class="panel panel-primary resp">
        @{
            if (ViewBag.BugEditStatus != null)
            {
                if (ViewBag.BugEditStatus == "Success")
                {
                    <div class="alert alert-success alert-dismissable fade in">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Success!</strong>&nbspBug edited successfully.
                    </div>
                }
                else
                {
                    <div class="alert alert-danger alert-dismissable fade in">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Error!</strong>&nbspBug edit failed.
                    </div>
                }
            }
        }
        <div class="panel-heading">
            <h3 class="panel-title">@ViewBag.Title</h3>
            <div class="pull-right">
                <span class="clickable filter" data-toggle="tooltip" title="Toggle table filter" data-container="body">
                    <i class="glyphicons glyphicon-user"></i>
                </span>
            </div>
        </div>
        <div class="panel-body">
            <div class="panel-filter">
                <input type="text" class="form-control" id="dev-table-filter" data-action="filter" data-filters="#dev-table" placeholder="Filter Bugs" />
            </div>
            <div id="BugsList">

            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "/Tester/TrackBugsReport",
            data: { Type: "Track" },
            success: function (data) {
                $("#BugsList").html(data);
            },
            failure: function (data) {
                alert(data.responseText);
            },
            error: function (data) {
                alert(data.responseText);
            }
        });
    });
</script>