.chart {
  display: inline-block;
  margin: 20px;
}

.caption {
  margin-top: 10px;
}

.overview {
  display: inline-block;
  margin: auto;
}

.counter span{
  background: #787878;
  color: white;
  font-size: 15px;
  background-image: -webkit-linear-gradient(top, #787878, #1c1c1c);
  background-image: -moz-linear-gradient(top, #787878, #1c1c1c);
  background-image: -ms-linear-gradient(top, #787878, #1c1c1c);
  background-image: -o-linear-gradient(top, #787878, #1c1c1c);
  background-image: linear-gradient(to bottom, #787878, #1c1c1c);
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  padding: 5px 8px;
}

.event {
  margin-top: 10px;
}

.events {
  height: 230px;
  overflow: auto;
}

.event-detail {
  display: inline-block;
}