
@{
    ViewBag.Title = "Overview";
}
<link href="~/Content/easypiechart.css" rel="stylesheet" />
<link href="~/Content/overview.css" rel="stylesheet" />
<div class="container">
    <div class="panel panel-primary resp">
        <div class="panel-heading">
            <h3 class="panel-title">Overview</h3>
        </div>
        <div class="panel-body fixed-panel text-center">
            <div class="col-sm-3 pull-right">
                @*<select class="form-control" name="project" id="project" onchange="getDetails($(this))" required>
                        <option value="">Select Project</option>
                        <% if(typeof(proj) != 'undefined') { %>
                        <% proj.forEach(function(item, index) { %>
                        <option value="<%= item.id %>"> <%= item.name %> </option>
                        <% }); %>
                        <% } %>
                    </select>*@
                @{
                    List<SelectListItem> ProjectsAdmin = new List<SelectListItem>();
                    ProjectsAdmin.Add(new SelectListItem
                    {
                        Text = "Select Project",
                        Value = "",
                        Selected = true
                    });
                    foreach (var item in ViewBag.ProjectsAdmin)
                    {
                        ProjectsAdmin.Add(item);
                    }
                }
                @Html.DropDownList("project_id", ProjectsAdmin, new { @class = "form-control", onchange = "getDetails($(this))", @required = "required" })
            </div>
            <div class="overview clearfix">
                <div class="chart clearfix">
                    <div class="chartTotal" data-percent="0">
                        <div id="totalBugs">
                            0
                        </div>
                    </div>
                    <div class="caption text-center">
                        <label>Total Bugs</label>
                    </div>
                </div>
                <div class="chart clearfix">
                    <div class="chartOpen" data-percent="0">
                        <div id="openBugs">
                            0
                        </div>
                    </div>
                    <div class="caption text-center">
                        <label>Unassigned Bugs</label>
                    </div>
                </div>
                <div class="chart clearfix">
                    <div class="chartClosed" data-percent="0">
                        <div id="closedBugs">
                            0
                        </div>
                    </div>
                    <div class="caption text-center">
                        <label>Closed Bugs</label>
                    </div>
                </div>
                <div class="chart clearfix">
                    <div class="chartApproval" data-percent="0">
                        <div id="approvalBugs">
                            0
                        </div>
                    </div>
                    <div class="caption text-center">
                        <label>Pending approval</label>
                    </div>
                </div>
                <div class="chart clearfix">
                    <div class="chartCritical" data-percent="0">
                        <div id="criticalBugs">
                            0
                        </div>
                    </div>
                    <div class="caption text-center">
                        <label>Critical Bugs</label>
                    </div>
                </div>
                <div class="chart clearfix">
                    <div class="chartHigh" data-percent="0">
                        <div id="highBugs">
                            0
                        </div>
                    </div>
                    <div class="caption text-center">
                        <label>High Priority</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row clearfix">
        <div class="col-sm-7">
            <div class="panel panel-primary resp">
                <div class="panel-heading">
                    <h3 class="panel-title">Team Members</h3>
                </div>
                <div class="panel-body fixed-panel events">
                    <div class="row">
                        <div class="col-sm-6">
                            <label>Testers</label>
                            <div class="well testers" id="testers">

                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label>Developers</label>
                            <div class="well developers" id="developers">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="panel panel-primary resp">
                <div class="panel-heading">
                    <h3 class="panel-title">Statistics</h3>
                </div>
                <div class="panel-body fixed-panel events">
                    <div class="row event">
                        <div class="col-sm-2">
                            <div class="counter">
                                <span class="openCounter">
                                    0
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-10 event-detail">
                            <p>Open Bugs</p>
                        </div>
                    </div>
                    <div class="row event">
                        <div class="col-sm-2">
                            <div class="counter">
                                <span class="assignedCounter">
                                    0
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-10 event-detail">
                            <p>Assigned Bugs</p>
                        </div>
                    </div>
                    <div class="row event">
                        <div class="col-sm-2">
                            <div class="counter">
                                <span class="reviewCounter">
                                    0
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-10 event-detail">
                            <p>Bugs Under Review</p>
                        </div>
                    </div>
                    <div class="row event">
                        <div class="col-sm-2">
                            <div class="counter">
                                <span class="approvalCounter">
                                    0
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-10 event-detail">
                            <p>Bugs Pending Approval</p>
                        </div>
                    </div>
                    <div class="row event">
                        <div class="col-sm-2">
                            <div class="counter">
                                <span class="rejectedCounter">
                                    0
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-10 event-detail">
                            <p>Bugs Rejected</p>
                        </div>
                    </div>
                    <div class="row event">
                        <div class="col-sm-2">
                            <div class="counter">
                                <span class="closedCounter">
                                    0
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-10 event-detail">
                            <p>Bugs Closed</p>
                        </div>
                    </div>
                    <div class="row event">
                        <div class="col-sm-2">
                            <div class="counter">
                                <span class="criticalCounter">
                                    0
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-10 event-detail">
                            <p>Critical Bugs</p>
                        </div>
                    </div>
                    <div class="row event">
                        <div class="col-sm-2">
                            <div class="counter">
                                <span class="majorCounter">
                                    0
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-10 event-detail">
                            <p>Major Bugs</p>
                        </div>
                    </div>
                    <div class="row event">
                        <div class="col-sm-2">
                            <div class="counter">
                                <span class="minorCounter">
                                    0
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-10 event-detail">
                            <p>Minor Bugs</p>
                        </div>
                    </div>
                    <div class="row event">
                        <div class="col-sm-2">
                            <div class="counter">
                                <span class="highCounter">
                                    0
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-10 event-detail">
                            <p>High Priority Bugs</p>
                        </div>
                    </div>
                    <div class="row event">
                        <div class="col-sm-2">
                            <div class="counter">
                                <span class="mediumCounter">
                                    0
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-10 event-detail">
                            <p>Medium Priority Bugs</p>
                        </div>
                    </div>
                    <div class="row event">
                        <div class="col-sm-2">
                            <div class="counter">
                                <span class="lowCounter">
                                    0
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-10 event-detail">
                            <p>Low Priority Bugs</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery.easypiechart.min.js"></script>
<script>
    $('.chartTotal').easyPieChart({
        animate: 1000,
        scaleColor: false,
        lineWidth: 10,
        lineCap: "butt",
        barColor: "#4ec9ce"
    });
    $('.chartOpen').easyPieChart({
        animate: 1000,
        scaleColor: false,
        lineWidth: 10,
        lineCap: "butt",
        barColor: "#E7912A"
    });
    $('.chartClosed').easyPieChart({
        animate: 1000,
        scaleColor: false,
        lineWidth: 10,
        lineCap: "butt",
        barColor: "#bacf0b"
    });
    $('.chartApproval').easyPieChart({
        animate: 1000,
        scaleColor: false,
        lineWidth: 10,
        lineCap: "butt",
        barColor: "#f377ab"
    });
    $('.chartCritical').easyPieChart({
        animate: 1000,
        scaleColor: false,
        lineWidth: 10,
        lineCap: "butt",
        barColor: "#ff5252"
    });
    $('.chartHigh').easyPieChart({
        animate: 1000,
        scaleColor: false,
        lineWidth: 10,
        lineCap: "butt",
        barColor: "#d550ff"
    });

    function getDetails(that) {
        var $project = that.val();
        console.log($project);
        if (!$project) {
            location.reload();
        }
        //axios.post('/getTesters', {
        //    proj: $project
        //})
        //  .then(function (response) {
        //      var testers = response.data;
        //      console.log(testers);
        //      var replace = "";
        //      testers.forEach(function (item, index) {
        //          replace += "<div class='row'><p>" + item.testerName + "</p></div>";
        //      });
        //      $('#testers').html(replace);
        //  })
        //  .catch(function (error) {
        //      console.log(error);
        //  });
        $.ajax({
            type: "POST",
            url: "/Admin/GetTeamMembers",
            data: { ProjectId: $project, UserClass: 1 },
            success: function (data) {
                //$("#BugsList").html(data);
                data = JSON.parse(data);
                console.log(data);
                var replace = "";
                data.forEach(function (item, index) {
                    replace += "<div class='row'><p>" + item.user_name + "</p></div>";
                });
                $('#testers').html(replace);
            },
            failure: function (data) {
                alert(data.responseText);
            },
            error: function (data) {
                alert(data.responseText);
            }
        });
        //axios.post('/getDevs', {
        //    proj: $project
        //})
        //  .then(function (response) {
        //      var developers = response.data;
        //      var replace = "";
        //      developers.forEach(function (item, index) {
        //          replace += "<div class='row'><p>" + item.devName + "</p></div>";
        //      });
        //      $('#developers').html(replace);
        //  })
        //  .catch(function (error) {
        //      console.log(error);
        //  });
        $.ajax({
            type: "POST",
            url: "/Admin/GetTeamMembers",
            data: { ProjectId: $project, UserClass: 2 },
            success: function (data) {
                //$("#BugsList").html(data);
                data = JSON.parse(data);
                console.log(data);
                var replace = "";
                data.forEach(function (item, index) {
                    replace += "<div class='row'><p>" + item.user_name + "</p></div>";
                });
                $('#developers').html(replace);
            },
            failure: function (data) {
                alert(data.responseText);
            },
            error: function (data) {
                alert(data.responseText);
            }
        });
        //axios.post('/getBugsProject', {
        //    proj: $project
        //})
        //  .then(function (response) {
              //var bugs = response.data;
              //var total = 0, open = 0, assigned = 0, review = 0, approval = 0, closed = 0, rejected = 0, major = 0, critical = 0, minor = 0, high = 0, medium = 0, low = 0;
              //console.log(bugs);
              //bugs.forEach(function (item, index) {
              //    total++;
              //    switch (item.status) {
              //        case "Open": open++; break;
              //        case "Assigned": assigned++; break;
              //        case "Review": review++; break;
              //        case "Approval": approval++; break;
              //        case "Review Reject": rejected++; break;
              //        case "Approval Reject": rejected++; break;
              //        case "Closed": closed++; break;
              //        default: break;
              //    }
              //    switch (item.severity) {
              //        case "Major": major++; break;
              //        case "Critical": critical++; break;
              //        case "Minor": minor++; break;
              //        default: break;
              //    }
              //    switch (item.priority) {
              //        case "High": high++; break;
              //        case "Medium": medium++; break;
              //        case "Low": low++; break;
              //        default: break;
              //    }
              //});
              //$('.openCounter').html(open);
              //$('.assignedCounter').html(assigned);
              //$('.reviewCounter').html(review);
              //$('.approvalCounter').html(approval);
              //$('.rejectedCounter').html(rejected);
              //$('.closedCounter').html(closed);
              //$('.criticalCounter').html(critical);
              //$('.majorCounter').html(major);
              //$('.minorCounter').html(minor);
              //$('.highCounter').html(high);
              //$('.mediumCounter').html(medium);
              //$('.lowCounter').html(low);
              ////update instance after 5 sec
              //setTimeout(function () {
              //    $('.chartTotal').data('easyPieChart').update(total / total * 100);
              //    $('#totalBugs').html(total);
              //    $('.chartOpen').data('easyPieChart').update((open / total) * 100);
              //    $('#openBugs').html(open);
              //    $('.chartClosed').data('easyPieChart').update(closed / total * 100);
              //    $('#closedBugs').html(closed);
              //    $('.chartApproval').data('easyPieChart').update(approval / total * 100);
              //    $('#approvalBugs').html(approval);
              //    $('.chartCritical').data('easyPieChart').update(critical / total * 100);
              //    $('#criticalBugs').html(critical);
              //    $('.chartHigh').data('easyPieChart').update(high / total * 100);
              //    $('#highBugs').html(high);
              //}, 100);
        //  })
        //  .catch(function (error) {
        //      console.log(error);
        //  });
        $.ajax({
            type: "POST",
            url: "/Admin/GetBugsProject",
            data: { ProjectId: $project },
            success: function (data) {
                //$("#BugsList").html(data);
                data = JSON.parse(data);
                console.log(data);
                var bugs = data;
                var total = 0, open = 0, assigned = 0, review = 0, approval = 0, closed = 0, rejected = 0, major = 0, critical = 0, minor = 0, high = 0, medium = 0, low = 0;
                console.log(bugs);
                bugs.forEach(function (item, index) {
                    total++;
                    switch (item.bug_status) {
                        case "Open": open++; break;
                        case "Assigned": assigned++; break;
                        case "Review": review++; break;
                        case "Approval": approval++; break;
                        case "Review Reject": rejected++; break;
                        case "Approval Reject": rejected++; break;
                        case "Closed": closed++; break;
                        default: break;
                    }
                    switch (item.bug_severity) {
                        case "Major": major++; break;
                        case "Critical": critical++; break;
                        case "Minor": minor++; break;
                        default: break;
                    }
                    switch (item.bug_priority) {
                        case "High": high++; break;
                        case "Medium": medium++; break;
                        case "Low": low++; break;
                        default: break;
                    }
                });
                $('.openCounter').html(open);
                $('.assignedCounter').html(assigned);
                $('.reviewCounter').html(review);
                $('.approvalCounter').html(approval);
                $('.rejectedCounter').html(rejected);
                $('.closedCounter').html(closed);
                $('.criticalCounter').html(critical);
                $('.majorCounter').html(major);
                $('.minorCounter').html(minor);
                $('.highCounter').html(high);
                $('.mediumCounter').html(medium);
                $('.lowCounter').html(low);
                //update instance after 5 sec
                setTimeout(function () {
                    $('.chartTotal').data('easyPieChart').update(total / total * 100);
                    $('#totalBugs').html(total);
                    $('.chartOpen').data('easyPieChart').update((open / total) * 100);
                    $('#openBugs').html(open);
                    $('.chartClosed').data('easyPieChart').update(closed / total * 100);
                    $('#closedBugs').html(closed);
                    $('.chartApproval').data('easyPieChart').update(approval / total * 100);
                    $('#approvalBugs').html(approval);
                    $('.chartCritical').data('easyPieChart').update(critical / total * 100);
                    $('#criticalBugs').html(critical);
                    $('.chartHigh').data('easyPieChart').update(high / total * 100);
                    $('#highBugs').html(high);
                }, 100);
            },
            failure: function (data) {
                alert(data.responseText);
            },
            error: function (data) {
                alert(data.responseText);
            }
        });
    }
</script>